*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-size: 62.4% ;
}
/*Imagem de fundo da pagina*/
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-size: cover;
}
main{

}
 /*Estilização do menu de navegação*/
.logotipo-svg{ /* estilização da posição e tamanho da logo */
    width: 23rem;
    height: 23rem;
}
.menu-nav{ /* Estilização do menu de navegação*/
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline: 9.0rem;
    height: 8.0rem;
    width: 100%;
    font-size:1.6rem;  
    background-color: #2f2f2f;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border-bottom: gray;
    z-index: 1;
}
.menu-nav ul{ /* estilização da lista*/
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 1.2rem;
    gap:3rem ;
    position: absolute;
    right: 0;
    left: 0;
}
.menu-nav-itens{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;  
}
.menu-nav-list a{ /* estlização da ancora(a) */
    font-weight: 400;
    text-decoration: none;
    color: #f6f6f6f6;
    position: relative;
    font-size: 2rem;
}
.menu-nav-list li a::after{/* adiciona um efito de borda inferior ao passar o mouse em cima dos elementos do menu de navegação*/
    content: " ";
    width: 0%;
    height: .2rem;
    background-color: #DEB887;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in;
}
.menu-nav-list li a:hover::after{ /* largura da borda interior de acordo com a largurar maxima dos elementos ancora e lista*/
    width: 100%;
}
.menu-nav-list a:hover{/* transição que muda de cor as paslvras do menu de navegção*/
    transition-property: color;
    transition-duration: 1s;
    color: #DEB887;
}
/* Estilização do botão de reserva */
.botao-reserva{ 
    background-color: transparent;
    border-radius: 6rem;
    border: .1rem solid #DEB887;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    position: absolute;
    transition-duration: 1s;  
}
.botao-reserva:hover{/*ao passa o mouse por cima vai ter um efeito que o botão vai se expandir pros lados */
    width: 10rem;
}
a span{
    position: absolute;
}
.icone-reserva{/* Estilização do icone do botão de reserva*/
    height: 3rem;
    width: 3rem;
    transition: 1s;  
}
.text-reserva{/* estilização da palavra reserva e com trasnforme para palavra sumir e só aparecer quando passar o mouse em cima do botão */
    color: #f6f6f6;
    font-size: 1.8rem;
    transform: scale(0);
    transition: 1s;
}
.botao-reserva:hover .text-reserva{/* Efeito que faz a plavra reserva apaercer quando passar p mouse por cima do botão */
    transition-property:all;
    transition: 1s;
    color: #DEB887;
    transform: scale(1);
    transition-delay: 0.1s;
}
.botao-reserva:hover .icone-reserva{/* transform para fazer o icone sumir pra a palavra reserva aparecer*/
    transform: scale(0);
}
/* fim da estilização do menu de navegção */
main{ /* Organização de todo o conteúdo da pagina */
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    padding-top:5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #b1acb3e5; 
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(../img/image.jfif);
    padding: 40px;
    border-radius: 40px;
    margin-top: 40px;         
    margin-bottom: 10px;   
}
.btn{
    padding-top:10px;
    width: 100;
    text-align: center;
}
form input[type=submit]{
    padding:10px    40px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(19, 18, 17);
    cursor: pointer;
    color: white;
}





.interface{
    max-width: 100%;
    margin: 0px auto;
  }
  footer{
     background-color: #2f2f2f;
     color: #f6f6f6;
     position: relative;
     padding-top: 2rem;
     padding: 2rem 5rem .2rem 5rem;
     text-align: center;
     height: 25rem;
  }
  .footer-img img{
      width: 13rem;
      position: absolute;
      left: 5rem;
      top: 0;
      bottom: 1rem;
  }
  .linha-footer1 .box-linha-footer h3{
      color: #DEB887;
      margin-bottom: 1rem;
      font-size: 1.7rem;
      font-family: "Lato", sans-serif;
  }
  
  footer .linha-footer1{
      border-block: 1px solid #f6f6f6;
      display: flex;
      justify-content:center ; 
      gap: 6.2rem;
     padding: 3rem 5rem 1rem 5rem;
  }
  footer .linha-footer1 .box-linha-footer{
      width: 10%;
  }
  .linha-footer2{
      text-align: center;
      padding: .5rem;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 1.4rem;  
  }
  .linha-footer1 .box-linha-footer a{
      height: 2rem;
      text-decoration: none;
      display: block;
      color: #f6f6f6;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
  }
  .links-footer a:hover{
      color:#DEB887;
      transition:1s;
  
  }
  .box-linha-footer .btn-redes a{
      display: inline;
  }
  .box-linha-footer p{
      height: 2rem;
      font-size: 1.4rem;
      font-family: "Lato", sans-serif;
      margin-bottom: 2rem;
      text-align: center;
  }
  .box-linha-footer .btn-redes button{
      width: 3rem;
      height: 3rem;
      border-radius: .4rem;
      font-size: 1.4rem;
      background-color: transparent;
      border: .1rem solid #f6f6f6;
      color: #f6f6f6;
      cursor: pointer;
      margin-right: .2rem;
      transition: 0.9s;
  }
  .box-linha-footer .btn-redes button:hover{
      background-color: #DEB887;
      border-color: #DEB887;
  }
  .box-linha-footer iframe{
      width: 15rem;
      height: 11rem;
      border-radius: .4rem;
  }
  
    


